.z-1000 {
	z-index: 1000;
}

.z-1100 {
	z-index: 1100;
}

.z-1200 {
	z-index: 1200;
}

.z-1300 {
	z-index: 1300;
}

.z-1400 {
	z-index: 1400;
}

.z-1500 {
	z-index: 1500;
}

.z-1600 {
	z-index: 1600;
}

.z-1700 {
	z-index: 1700;
}

.z-1800 {
	z-index: 1800;
}
